<h4 class="table-info">Camp Schedule</h4>
<table class="table table-striped">
    <tr>
        <td>Sl.No</td>
        <td>Location</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>1</td>
        <td>{{campList[0].location}}</td>
        <td>{{campList[0].reqDate.toLocaleDateString('en-GB')}}</td>
    </tr>
    <tr>
        <td>2</td>
        <td>{{campList[1].location}}</td>
        <td>{{campList[1].reqDate.toLocaleDateString('en-GB')}}</td>
    </tr>
</table>
<p>Showing Camps in {{location}}</p>
<label>Change Location</label>
<input type="text" name='location' [(ngModel)]="location">

<p>
    <!--Button With Property Biding and Event Binding and interpolation-->
    <button [ngClass]="{'btn':true,'btn-success':true}" (click)="showMore()" [innerText]="btnText"></button>
</p>
<p>{{info}}</p>