<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div style="height: 100px; background-image:linear-gradient(grey,yellow,gold, green)
    ">
        <app-header></app-header>

    </div>
    <div style="height: 700px; " class="row">

        <div class=col-md-6>
            <app-content></app-content>

        </div>

        <div class='col-md-6'>
            <app-show-donar></app-show-donar>
        </div>
    </div>
    <div style="height: 105px; ">
        <app-footer></app-footer>
    </div>

</div>